body,
html {
    height: 100%;
}

body {
    background-color: #E2E2E2;
    font-family: Roboto;
	background-image: url('../img/bg.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center top;
}


/*.row {
margin-left: 0px;
margin-right: 0px;
}*/

.container.info {
	/*width: 960px;max-width: 1024px;*/
    background-color: #e2e2e2;
	padding-bottom: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 3px solid #013494;
	border-radius: 10px;
}

.navbar {
    background-color: #333333;
    ;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #0691f2;
}

.navbar-brand {
    font-size: 2em;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
}

h1,
p {
    color: #6d6d6d;
}

h1 {
	color: #013494;
	font-weight: 700;
}

h1 {
    font-size: 3em;
}

h3 {
   
    color: #6d6d6d;
}

h5 {
	font-weight: 700;
}

hr {
	color: #013494;
	border-color: #013494;
	background-color: #013494;
}

span {
    color: #6d6d6d;
    font-size: 1.1em
}

.centrado {
    text-align: center;
}

.contar {
    margin: 75px auto 0px auto;
}

.modal {
    margin-top: 200px;
}

.acta {
    margin: 10px 20px 0px 0px;
}

.datos {
    background-color: #F1F1F2;
    border: 3px solid #013494;
    border-radius: 10px;
    color: #58585B;
    padding: 15px;
    margin: 50px auto 0px auto;
    height: 280px;
    /*max-width: 550px;*/
}

.btn-danger {
    color: #fff;
    background-color: #0f47af;
    border-color: #013494;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #1759d5;
    border-color: #013494;
}

.inpt {
    border-color: 1px solid #0691f2;
    /*height:25px;*/
}

.inpt img {
    margin: 2rem auto;
    max-width: 100%;
    display: block;
}

input.ingresoactas {
    border: 1px solid #013494;
    padding: 5px;
    background: rgba(255, 255, 255, 1);
    margin: 0 0 10px 0;
    font-size: 25px;
    min-width: 300px;
    text-align: center;
}

.alert-success {
    background-color: #d8e0f0;
    border-color: #013494;
    color: #013494;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #0f47af;
}

.col-sm-offset-3 {
    margin-top: 10px;
}

.inputt {
    margin-top: 25px;
}

footer {
    background: #e2e2e2;
    border-top: 7px solid #013494;
    clear: both;
    padding: 15px;
    margin-top: 30px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #013494;
    border-bottom-color: #013494;
    border-left-color: #013494;
	margin-bottom: 30px;
	border-radius: 3px;
}

footer a {
    color: #013494;
}

footer a:hover {
    color: #1759d5;
}

footer ul {
    float: left;
    overflow: auto;
    width: 200px;
    margin-left: 24px;
    margin-bottom: 15px;
    padding-left: 0;
}

.t-blue {
    color: #013494;
}

.t-center {
    text-align: center;
}

.actas {
    margin: 0 auto;
}

img.logo {
    width: 50%;
    padding-top: 12px;
    padding-left: 12px;
}



/* **********Inicia Estilos agradecimientos ************ */
.profilecard {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 6px;
    text-align: center;
    float: left;
}

.profilecard .title { 
    color: grey;
    font-size: 18px;
}


.profilecard button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profilecard a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.profilecard button:hover, .profilecard a:hover {
    opacity: 0.7;
}
/* **********Finaliza Estilos agradecimientos ************ */




/* **********inician  Estilos datatable  ************ */


#marcasvotos th, #marcasvotos td{
	font-size: 12px;
	

	}
	#marcasvotos th{
		color:#013494;
		
	}
	#marcasvotos.dataTable thead th, #marcasvotos .dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #013494;
}
#marcasvotos.dataTable tfoot th, #marcasvotos.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #013494;
}
/* **********Finaliza Estilos datatable ************ */