body {
	background-color: #E2E2E2;
	font-family: Roboto;
}

h1{
	font-size: 3rem;
	font-weight: 700;
}

.t-blue{
	color: #013494;
}

.t-center{
	text-align: center;
}

.navbar{
	margin-bottom: 3em;
}

.navbar {
	background-color: #333333;
}

.actas{
	margin: 0 auto;
}

nav > a > img.logo {
	width: 50%;
}

.footer{
	position: fixed;
  	bottom: 0;
  	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #F5F5F5;
	display: none;
}

.inpt{
	border-color: 1px solid #0691f2;
}

.inpt img{
	margin: 0 auto;
	max-width: 100%;
	display: block;
} 