body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #5D5D5D;
}

/* Navbar */
.navbar.navbar, .navbar-default.navbar {
  background-color: #0d3a57;
}
.navbar {
  margin-bottom: 0px;
}

/* Footer */
#footer {
  background-color: #0d3a57;
  color: rgba(255, 255, 255, .84);
  margin: 0;
  padding: 1em 0;
  -webkit-box-shadow : 0 -4px 6px #ccc;
  -moz-box-shadow: 0 -4px 6px #ccc;
  box-shadow: 0 -4px 6px #ccc;
  position: relative;
  z-index: 100;
}

#footer ul {
  margin: 0;
}

#footer a, #footer a:hover, #footer a:focus, #footer p {
  color: rgba(255, 255, 255, .84);
}

/* ---------
 *   HOME
 * ---------
 */

.home-welcome {
  background-color: #0d3a57;
  color: #fff;
  -webkit-box-shadow: 0 4px 6px #ccc;
  -moz-box-shadow: 0 4px 6px #ccc;
  box-shadow: 0 4px 6px #ccc;
  position: relative;
  z-index: 30;
  font-size: 16px;
}

.home-welcome .home-texture {
  background: transparent url('../img/TSE_pattern_Home.png') 50% 50% repeat;
}

.home-why {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 6px #ccc;
  -moz-box-shadow: 0 4px 6px #ccc;
  box-shadow: 0 4px 6px #ccc;
  position: relative;
  z-index: 20;
}

.home-help {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 4px 6px #ccc;
  -moz-box-shadow: 0 4px 6px #ccc;
  box-shadow: 0 4px 6px #ccc;
  position: relative;
  z-index: 10;
}

.home-results {
  background-color: #fff;
}

.homebx {
  padding-top: 120px;
  padding-bottom: 120px;

}

.imgbox img {
  max-width: 100%;
  max-height: 100%;
}

.box-title:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  top: 0;
  left: 16px;
  border-bottom: 4px solid #0d3a57;
}

.home-text {
  font-weight: 700;
}

.intro-subheading {
  line-height: 24px;
  font-size: 18px;
}

.box-title {
  font-size: 28px;
  font-weight: 700;
  color: #0d3a57;
  padding-bottom: 20px;
}

.box-description {
  margin-bottom: 34px;
  font-size: 18px;
}

img.centered {
  display: block;
  margin: 0 auto;
}

.help-text {
  font-size: 16px;
}
