body, html{
	
	height:100%;
	}

body{

background-image:url('../img/bg.jpg');

background-repeat:no-repeat;

background-position: center top;

background-color:#444;


width: 100%;



}



.container.info{	/*width: 960px;max-width: 1024px;*/
	background-color: #e2e2e2;
	padding-bottom: 40px;
	margin-bottom:30px;
}



.navbar{
	background-color: #2c2c2c;
	-webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.4);;
}



.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{

	background-color: #0691f2;}



.navbar-brand{font-size: 2em;}



.navbar {

 margin-bottom: 0px; 

}


h1,p{color: #6d6d6d;}
h1 {color:#013494; text-shadow:1px 1px #444;
border-bottom: 1px solid #444;}


h1{	font-size: 4.4em;}



h3{font-size:6em; color:#6d6d6d;}



span{color:#6d6d6d; font-size: 1.1em}



.centrado{text-align: center;}



.contar{margin: 75px auto 0px auto;}



.modal{margin-top: 200px;}



.acta{margin: 10px 20px 0px 0px;}



.datos{

	background-color: #F1F1F2;
    border: 3px solid #013494;
    border-radius: 10px;
    color: #58585B;
	-webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.4);;
	padding: 15px;

	margin: 50px auto 0px auto;

	height: 280px;

	width: 350px;

}

	.btn-danger {
color: #fff;
background-color: #0f47af;
border-color: #013494;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger{background-color: #1759d5; border-color: #013494;}

.inpt{border-color: 1px solid #0691f2; height:25px;}

.inpt img{margin: 0 auto;
width: 200px;
display: block;}


input {
border: 1px solid #013494;
padding: 5px;
background: rgba(255,255,255,1);
margin: 0 0 10px 0;
font-size: 25px;
width: 300px;
text-align: center;
}
.alert-success {
background-color: #d8e0f0;
border-color: #013494;
color: #013494;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
background-color: #0f47af;
}

.col-sm-offset-3{margin-top: 10px;}



.inputt{margin-top: 25px;}