body{
background-image:url('../img/bg.jpg');
background-repeat:no-repeat;
background-position: center top;
background-color:#fff;
width: 100%;
height: 900px;
}

.container{	width: 960px;max-width: 1024px;}

.navbar{background-color: #2c2c2c;}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	background-color: #0691f2;}

.navbar-brand{font-size: 2em;}

.info{margin-top: 50px;}

h1,p{text-align: center; color: #fff;}

h1{	font-size: 4.4em;}

h3{font-size:6em; color:#fff;}

span{color:#fff; font-size: 1.1em}

.centrado{text-align: center;}

.contar{margin: 75px auto 0px auto;}

.modal{margin-top: 200px;}

.acta{margin: 10px 20px 0px 0px;}

.datos{
	background-color: #5cb85c;
	padding: 15px;
	margin: 50px auto 0px auto;
	height: 185px;
	width: 600px;
}

.inpt{border-color: 1px solid #0691f2;}

input {
    border: 3px solid #d9534f; 
    padding: 15px;
    background: rgba(255,255,255,1);
    margin: 0 0 10px 0;
}

.col-sm-offset-3{margin-top: 10px;}

.inputt{margin-top: 25px;}